@keyframes fantasyToLight {
  0% {background-color: #2D3377;};

  100% {background-color: white;};
};

@keyframes lightToFantasy {
  0% {background-color: white;};

  100% {background-color: #2d3377;};
};

@keyframes showGallery {
  0% {
    opacity: 1;
    height: 1000vh;
  };

  100% {
    opacity: 0;
    height: 0;
  };
};

@keyframes loading {
  0% {
    transform: rotate(0deg);
  };

  50% {
    transform: rotate(360deg);
  };

  100% {
    transform: rotate(0deg);
  };
};